av==12.3.0
causal_conv1d==1.1.1
einops==0.8.1
ftfy==6.3.1
hdf5storage==0.2.2
kornia==0.5.11
lmdb==1.6.2
mamba_ssm==1.1.1
matplotlib==3.7.5
mc==0.0
numpy==1.24.4
opencv_python==4.5.3.56
opencv_python_headless==4.11.0.86
pandas==2.0.3
Pillow==9.2.0
regex==2022.8.17
Requests==2.32.5
scikit_image==0.19.3
scipy==1.16.3
segment_anything==1.0
setuptools==63.4.1
six==1.17.0
torch==1.13.0
torchvision==0.14.0
tqdm==4.64.0
